# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
wheels/

# Virtual environments
.venv/
.venv

# Rust
target/
Cargo.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
*.bin
*.pem
*.rsa
*.dll
*.dylib
*.exe
ciphertexts/
decrypted/
.rsa_gui_settings