[project]
name = "rsa-gui"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "cryptography>=46.0.3",
    "slint>=1.14.1b1",
]

[dependency-groups]
dev = [
    "pyinstaller>=6.17.0",
]
